header {
    background-color: #004cc6;
    color: white;
    text-align: center;
}
/* id# */
h1:hover {
    color: #009900;
}
#menu {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li {
    display: inline;
    margin-right: 10px;
}
/* class. */
.item {
    display: inline-block;
    margin-right: 10px;
    background-color: #004cc6;
    text-align: center;
    border-radius: 5px;
}
.item a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
}
.form-actions {
  text-align: center;
  margin-top: 20px;
}
button {
    background-color: #004cc6;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    color: #009900;
}
#video-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre los videos */
  /* Margen o espacio encima del video*/
}
 
#video-section iframe {
  width: 100%;
  max-width: 600px;
  /* Ancho máximo del video */
  height: auto;
  border-radius: 10px;
  border: 3px solid #727272;
  /* Borde alrededor del video */
}
